$Blue: hsl(246, 80%, 60%);

$Light1:hsl(15, 100%, 70%);
$Soft1: hsl(195, 74%, 62%);
$Light2 : hsl(348, 100%, 68%);
$Lime: hsl(145, 58%, 55%);
$Violet : hsl(264, 64%, 52%);
$Soft2: hsl(43, 84%, 65%);


$Very: hsl(226, 43%, 10%);
$Dark: hsl(235, 46%, 20%);
$Desaturated : hsl(235, 45%, 61%);
$Pale : hsl(236, 100%, 87%);